*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
}

#top{
    position: absolute;
    top: 0%;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    overflow: hidden;
}
#center{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-color: rgb(114, 112, 112);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
}
#bottom{
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
}

#main h1{
    font-family: Founder;
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}
#top-h1{
    bottom: 0%;
}
#bottom-h1{
    top: 33% !important;
}